<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Semitone API</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Signika+Negative:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gradient-to-b from-slate-900 to-purple-700">
    <nav
      class="flex justify-between items-center bg-transparent h-20 min-w-full"
    >
      <div class="flex items-center justify-around w-64">
        <span
          style="font-family: Lato"
          class="flex items-center text-slate-100 ml-10 md:text-xl sm:text-sm"
          >Semitone API</span
        >
        <a href="#guide" class="text-slate-100 text-sm hover:cursor-pointer"
          >Guide</a
        >
      </div>

      <a
        href="https://github.com/ryanpunwasi/semitone-api"
        target="_blank"
        class="text-white py-1 px-4 border border-white rounded-md mr-10 hover:bg-violet-100 hover:text-violet-700 hover:border-violet-700 hover:cursor-pointer ease-in duration-200"
        >Repo</a
      >
    </nav>
    <section
      class="sm:h-screen h-500 flex flex-col sm:flex-row justify-center items-center"
    >
      <div
        class="w-2/5 flex flex-col justify-start items-start sm:items-center md:text-5xl text-2xl ml-5 mb-10"
        style="font-family: Signika Negative"
      >
        <p class="text-slate-100 mb-4">Audio for musical notes</p>
        <p class="text-slate-100">Completely free</p>
      </div>
      <div class="w-full sm:w-3/5 flex justify-center items-center">
        <code
          class="bg-gray-700/60 shadow-lg rounded-md p-10 text-slate-300 w-4/5 text-sm text-ellipsis leading-6 mb-10"
          ><p class="text-gray-500">// Get C sharp from octave three</p>
          <p class="mb-5">
            > axios<br />.get('<a
              target="_blank"
              href="https://semitone-api.fly.dev/notes/3/C/sharp"
              class="text-blue-400 hover:text-blue-300"
              >https://semitone-api.fly.dev/notes/3/C/sharp</a
            >')<br />.then(response => console.log(response.data.note));
          </p>
          <ul>
            <li>{</li>
            <li class="ml-3">"id": <span class="text-orange-300">26</span>,</li>
            <li class="ml-3">
              "octave_id": <span class="text-orange-300">3</span>,
            </li>
            <li class="ml-3">
              "letter": <span class="text-emerald-500">"C"</span>,
            </li>
            <li class="ml-3">
              "accidental": <span class="text-emerald-500">"sharp"</span>,
            </li>
            <li class="ml-3">
              "src":
              <a
                target="_blank"
                href="https://res.cloudinary.com/dv0dqorkh/video/upload/v1664597748/semitone/octave-3/Csharp_u7gabd.mp3"
                class="text-emerald-500 hover:text-emerald-300"
                >"https://res.cloudinary.com/dv0d..."</a
              >
            </li>
            <li>}</li>
          </ul>
        </code>
      </div>
    </section>
    <section
      id="guide"
      class="h-screen bg-violet-500 bg-gradient-to-br from-purple-600 via-violet-600 to-indigo-600 flex justify-center items-center"
    >
      <div class="w-1/2 flex flex-col justify-center items-center">
        <p
          style="font-family: Lato"
          class="tracking-wider text-yellow-400 uppercase mb-6"
        >
          Semitone API is easy to use
        </p>
        <p class="text-white/80 text-xl text-start w-3/4 mb-3">
          Semitone API allows you to fetch audio for musical notes in five
          different octaves. This includes the notes A through G, as well as
          their accidentals.
        </p>
        <p class="text-white/80 text-xl text-start w-3/4">
          Responses are in JSON format.
        </p>
      </div>
      <div class="w-1/2 flex flex-col justify-center items-center">
        <header>
          <h2 style="font-family: Lato" class="text-slate-200 text-5xl mb-10">
            Endpoints
          </h2>
        </header>
        <div class="flex flex-col justify-center items-start">
          <p class="text-slate-900/70 font-semibold mb-1">Base URL</p>
          <code class="bg-gray-700/80 rounded-md py-3 px-5 text-yellow-400 mb-6"
            >https://semitone-api.fly.dev</code
          >
          <p class="text-slate-900/70 font-semibold mb-1">Fetch all notes</p>
          <code class="bg-gray-700/80 rounded-md py-3 px-5 text-yellow-400 mb-6"
            >/notes</code
          >
          <p class="text-slate-900/70 font-semibold mb-1">Fetch all octaves</p>
          <code class="bg-gray-700/80 rounded-md py-3 px-5 text-yellow-400 mb-6"
            >/octaves</code
          >
          <p class="text-slate-900/70 font-semibold mb-1">
            Fetch all notes in a given octave
          </p>
          <code class="bg-gray-700/80 rounded-md py-3 px-5 text-yellow-400 mb-6"
            >/notes/octaves/{octave}</code
          >
          <p class="text-slate-900/70 font-semibold mb-1">
            Fetch a specific note
          </p>
          <code class="bg-gray-700/80 rounded-md py-3 px-5 text-yellow-400 mb-6"
            >/notes/{octave}/{letter}/{accidental}</code
          >
        </div>
      </div>
    </section>
    <footer
      class="bg-slate-900 h-40 min-w-full flex justify-center items-center"
    >
      <p class="text-slate-100 text-sm">
        Made by
        <a
          href="https://github.com/ryanpunwasi"
          target="_blank"
          class="text-purple-400"
          >@ryanpunwasi</a
        >
      </p>
    </footer>
  </body>
</html>
